aiohttp==3.4.4
aiohttp-json-rpc==0.11.2
cbor==1.0.0
cryptography==2.4.2
ecdsa==0.13
ed25519==1.4
paramiko==2.4.2
psycopg2==2.7.6.1
protobuf==3.6.1
pycryptodome==3.7.3
requests==2.21.0
Sphinx==1.8.4
sawtooth-sdk==1.0.5
sawtooth-signing==1.0.5
secp256k1==0.13.2
setuptools==40.6.3
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
